page-home {
    height: 100vh;

    .pickle-rick{
        height: 17vh;
        display: block;
        vertical-align: middle;
        width: auto !important;
        align-items: center;
        margin:auto;
        // marign
    }

    .home-text{
// nter;
        // margin:auto;
        text-align: center;
    }
    .home-button{
        align-items: center;
        margin:auto;
        text-align: center;
        display: block;
        width: auto !important;
    }

}
